/** {
  border: 2px solid red;
}*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 5px;

}

.container1 {
  display: flex;
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  max-width: 1000px;
  max-height: 300px;
}

header {
  text-align: center;
  font-size: 50px;
  color: black;
}

main {
  flex: 1;
}

nav {
  order: -1;
}

nav, aside {
  background-color: white;
}

.album {
  margin: 5px auto;
  width: 70%;
  padding: 5px 15px 5px 15px;
  background-color: lightblue;
  border-radius: 5px;
}
.reviews {
  height: 200px;
  margin-left: 30px;
}
.form {
  margin-left: 30px;
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.album-art {
  width: 300px;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex: 1;
  }
  nav, aside {
    flex: 0 0 12em;
  }
}
